[Unit]
Description=A tiny agent to ping LIDM server with mac and ip information
DefaultDependencies=no
Before=shutdown.target

[Service]
Type=oneshot
EnvironmentFile=-/etc/default/plidm
ExecStart=/usr/bin/plidm ${LIDM} ${PORT} -d

[Install]
WantedBy=shutdown.target
