[Unit]
Description=A tiny agent to ping LIDM server with mac and ip information

[Service]
ExecStartPre=/usr/bin/bash -c 'if systemctl -q is-active leave-lidm.service; then exit 1; fi'
Type=oneshot
EnvironmentFile=-/etc/default/plidm
ExecStart=/usr/bin/plidm ${LIDM} ${PORT}
