[Desktop Entry]
Name=X11VNC Server
Comment=Share this desktop by VNC
Exec=vncstart.py
Icon=computer
Terminal=false
Type=Application
StartupNotify=false
Categories=Network;RemoteAccess;
X-XFCE-Source=file:///usr/share/applications/x11vnc.desktop
